<% breadcrumb :faq_category, @faq_category %>

<h3><%= @faq_category.name %></h3>

<% @faq_category.faqs.each do |faq| %>
  <h5 class="faq-title" id="<%= faq.title %>">Q. <%= faq.title %></h5>

  <hr style="margin-top: 10px; margin-bottom: 10px"/>
  <p>        
    <%= faq.content.html_safe %>
  </p>  
<% end %>