<section class="about">
  <div class="header-text">
    <h2>About Us</h2>
    <h3>会社概要</h3>
  </div>

  <table class="table table-responsive">
    <tr>
      <td><strong>会社名</strong></td>
      <td>株式会社スイフト</td>
    </tr>

    <tr>
      <td><strong>電話番号</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>FAX番号</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>所在地</strong></td>
      <td>愛知県名古屋市中村区１２ （地図はこちら）</td>
      
    </tr>

    <tr>
      <td><strong>設立年</strong></td>
      <td>2016年9月</td>
    </tr>

    <tr>
      <td><strong>資本金</strong></td>
      <td>1500万円</td>
    </tr>

    <tr>
      <td><strong>代表取締役</strong></td>
      <td>松本　慶一</td>
    </tr>

    <tr>
      <td><strong>取引銀行</strong></td>
      <td>愛知銀行　名古屋銀行</td>
    </tr>　

    <tr>
      <td><strong>事業内容</strong></td>
      <td>人材派遣業(派)25-111111人材紹介事業27-ﾕ1111</td>
    </tr>


  </table>

  <%= image_tag 'top/top-1.jpg', class: 'img-responsive center-block' %>

  <br>
</section>