<% set_meta_tags title: "会社概要" %>

<section class="about mt40 mb40">
  <div class="header-text">
    <h3>会社概要</h3>
  </div>

  <table class="table table-responsive">
    <tr>
      <td class="col-xs-4 col-md-2"><strong>会社名</strong></td>
      <td>株式会社スイフト</td>
    </tr>

    <tr>
      <td><strong>電話番号</strong></td>
      <td>052-265-6702</td>
    </tr>

    <tr>
      <td><strong>FAX番号</strong></td>
      <td>052-265-6702</td>
    </tr>

    <tr>
      <td><strong>MAIL</strong></td>
      <td>info@swift-staff.jp</td>
    </tr>

    <tr>
      <td><strong>所在地</strong></td>
      <td>愛知県名古屋市中区錦３丁目１４−１４夢現錦ビル５B（<a data-toggle="modal" data-target="#map">地図はこちら</a>）</td>      
    </tr>

    <tr>
      <td><strong>設立年</strong></td>
      <td>2016年10月</td>
    </tr>

    <tr>
      <td><strong>資本金</strong></td>
      <td>2000万円</td>
    </tr>

    <tr>
      <td><strong>代表取締役</strong></td>
      <td>松本　慶一</td>
    </tr>

    <tr>
      <td><strong>取引銀行</strong></td>
      <td>名古屋銀行</td>
    </tr>　

    <tr>
      <td><strong>事業内容</strong></td>
      <td>人材派遣業(派)23-301755　業務請負業</td>
    </tr>


  </table>

  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <%= image_tag 'top/suits.jpg', class: 'img-responsive center-block' %>
  </div>

  <br>
</section>

<!-- Modal -->
<div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="mapLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mapLabel">地図</h4>
      </div>
      <div class="modal-body">
        <%= image_tag 'top/map.jpg', class: 'img-responsive' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>