<div class="header-text-sub-blue">
  <h2>すぐにでも人材が必要だ！</h2>
  <br>
  <p class="lead" style="margin-bottom: 0px;">
    即戦力を<span class="emphasize">1日1名</span>からご提供いたします。<br>
    <span class="emphasize">必要な時</span>に<span class="emphasize">必要な人数</span>だけ<span class="emphasize">必要な人材</span>を。<br>
    スイフトはお客様のニーズに迅速にご対応します。
  </p>
</div>



<div class="header-text-arrow">
  <h3>こんな時はスイフトにお問い合わせください！</h3>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="point-box">
      <p class="point-box-title">前日16時まで対応<br>翌日の人員確保が可能</p>        

      <div class="point-box-catch">必要な時に</div>

      <div class="point-box-description">
        <p>
          急に仕事が増えた<br>
          自社では募集が間に合わない
        </p>
      </div>
    </div><!-- point-box -->
  </div><!-- col-xs-12 col-md-3 -->  

  <div class="col-xs-12 col-md-3">
    <div class="point-box">
      <p class="point-box-title">前日16時まで対応<br>翌日の人員確保が可能</p>

      <div class="point-box-catch">必要な時に</div>
      
      <div class="point-box-description">
        <p>
          急に仕事が増えた<br>
          自社では募集が間に合わない
        </p>
      </div>
    </div><!-- point-box -->
  </div><!-- col-xs-12 col-md-3 -->

  <div class="col-xs-12 col-md-3">
    <div class="point-box">
      <p class="point-box-title">
        1名~大量動員まで柔軟に対応<br>
        繁閑の波動を吸収
      </p>

      <div class="point-box-catch">必要な人数を</div>
      
      <div class="point-box-description">
        <p>
          1日20名ほしい<Br>
          10名で3交代シフトを組みたい
        </p>
      </div>
    </div><!-- point-box -->
  </div><!-- col-xs-12 col-md-3 -->

  <div class="col-xs-12 col-md-3">
    <div class="point-box">
      <p class="point-box-title">
        1日4時間からのご発注に対応
      </p>

      <div class="point-box-catch">必要な期間だけ</div>
      
      <div class="point-box-description">
        <p>
          1日４時間だけ人手がほしい<br>
          1週間だけ人手が足りない
        </p>
      </div>
    </div><!-- point-box -->
  </div><!-- col-xs-12 col-md-3 -->
</div><!-- row -->

<div class="cta text-center">
  <h2 style="color:#0880d7;">年中無休・即日対応！まずはお問い合わせを！</h2>

  <h3><i class="fa fa-comment-o" aria-hidden="true"></i>｛企業用申し込みフォームリンク｝</h3>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="merit-box">
      <h1 class="text-center">お客様のメリット</h1>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3><i class="fa fa-check-circle" aria-hidden="true"></i> 業務量変動に<span class="alt-orange">柔軟に対応</span></h3>
        </div>

        <div class="col-xs-12 col-md-6">
          <p>この日のこの期間だけ、といった繁閑に合わせた発注が可能です。</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3><i class="fa fa-check-circle" aria-hidden="true"></i> コストダウンに<span class="alt-orange">貢献</span></h3>
        </div>

        <div class="col-xs-12 col-md-6">
          <p>固定費を業務変動量に応じた変動費にすることができます。</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3><i class="fa fa-check-circle" aria-hidden="true"></i> 労務管理の<span class="alt-orange">軽減</span></h3>
        </div>

        <div class="col-xs-12 col-md-6">
          <p>外注化により給与計算等の事務処理が軽減します。</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3><i class="fa fa-check-circle" aria-hidden="true"></i> 経営資源の<span class="alt-orange">有効活用</span></h3>
        </div>

        <div class="col-xs-12 col-md-6">
          <p>周辺業務をアウトソーシングすることにより、正社員をコア業務に特化させることができます。</p>
        </div>
      </div>
    </div><!-- merit-box -->
  </div><!-- col-xs-12 col-md-8 col-md-offset-2 -->
</div><!-- row -->

<div class="header-text">
  <h2>サービスライン</h2>
</div>

<%= render 'shared/job_table' %>

<div class="cta text-center">
  
  <h3 style="color:#e59501;">どんなお仕事でも一度ご相談ください！</h3>

  <h2 style="color:#0880d7;">年中無休・即日対応！まずはお問い合わせを！</h2>

  <h3><i class="fa fa-comment-o" aria-hidden="true"></i>｛企業用申し込みフォームリンク｝</h3>
</div>

<br>

