<section class="mt40 mb40">
  <div class="container">

    <div class="row">
      <!-- Panel -->
      <div class="col-xs-12 col-sm-6" data-sr="enter left">
        <div class="heading mb20">
          <h4>ニュース</h4>
        </div>

        <p class="lead mb10">ニュース見出し</p>
        <p>ニュースコンテンツがここに</p>
        
        <br>

        <%= link_to 'ニュース一覧を見る', '', class: 'btn btn-sm btn-primary' %>    

      </div>   

    </div>

  </div><!-- /container -->
</section><!-- /content -->


<!-- Begin Accordion + IMG  -->
<div class="mt40 mb40">
  <div class="container">

    <!-- Begin Title -->
    <div class="row">
      <div class="col-sm-6 mb20">
        
      </div>
    </div>

    <!-- Begin Accordion Row -->
    <div class="row">

      <div class="col-sm-6" data-sr="enter left">
        <div class="heading"><h4>企業理念</h4></div>
        <!-- Begin Accordion -->
        <div class="panel-group" id="accordion">
          <!-- Item 1 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  ポイント1
                </a>
              </h4>
            </div><!-- /panel heading -->
              <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                コンテンツ
              </div>
              </div><!-- /panel collapse -->
          </div><!-- /panel -->

          <!-- Item 2 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  ポイント2
                </a>
              </h4>
            </div><!-- /panel heading -->
              <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                コンテンツ
              </div>
              </div><!-- /panel collapse -->
          </div><!-- /panel -->

          <!-- Item 3 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  ポイント3
                </a>
              </h4>
            </div><!-- /panel heading -->
              <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                コンテンツ
              </div>
              </div><!-- /panel collapse -->
          </div><!-- /panel -->
        </div><!-- /panel group -->

        <!-- Button -->
        <a href="/about" class="btn btn-sm btn-primary">
          About us
        </a>

      </div><!-- /column -->
    
    </div><!-- /row -->
    <!-- End Accordion Row -->
    
  </div><!-- /container -->
</div><!-- /content -->
<!-- End Accordion + IMG -->

<section class="mt40 mb40">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        
          <div class="nav-box">
              <%= image_tag 'top/salaryman.jpg', class: 'img-responsive' %>
              <a href="/companies" style="text-decoration: none;" class="btn btn-navbox">
                人材をお探しの企業の方
              </a>                  
          </div><!-- nav-box -->

      </div><!-- col-xs-12 col-md-6 -->

      <div class="col-xs-12 col-md-6">
          <div class="nav-box">
            <div class="layer">
              <%= image_tag 'top/h-1.jpg', class: 'img-responsive' %>
              <a href="/companies" style="text-decoration: none;" class="btn btn-navbox">
                お仕事をお探しの方
              </a>            
            </div>        
          </div><!-- nav-box -->

      </div><!-- col-xs-12 col-md-6 -->
    </div>
  </div>
</section>  
