<h2>スイフトで働こう！4つのメリット！</h2>

短期1日~OK!

走っている画像

空いた時間に
自分らしく稼ぐ！



全額翌日払いOK

お金不足の画像

財布がピンチ！
すぐに給料ゲット！




登録超簡単！

めんどくさがっているいる画像
履歴書不要！
20分で終了！



選べる勤務地

頭を抱える画像

自宅の近くで勤務可能！



<p class="lead">
  こんなお仕事を紹介しています！
</p>

<table class="table table-responsive">
  <tr>
    <td>ログスティクス</td>
    <td>物流センター内ピッキング・仕分け・梱包作業、商品在庫管理、荷揚げ、荷卸し等</td>
  </tr>

  <tr>
    <td>イベント</td>
    <td>イベント会場設営・撤去、イベント管理・運営、各種販売促進、プラカード持ち等</td>
  </tr>

  <tr>
    <td>トランスポート</td>
    <td>引越助手、事務所の移転作業、家具などの配送助手、什器の搬入出等</td>
  </tr>

  <tr>
    <td>オフィス</td>
    <td>一般事務、データ入力、ファイリング、テレマーケティング、各種清掃作業、等</td>
  </tr>

  <tr>
    <td>その他</td>
    <td>工場内ライン作業、棚卸し、各種清掃作業など</td>
  </tr>

</table>