<section class="staff">
  <h2>スイフトで働こう！４つのメリット！</h2>

  <div class="point-container">
    <%= image_tag 'top/running.jpg', class: 'img-responsive' %>
    <div class="point">
      POINT <span class="point-number">1</span>
    </div>

    <h3>短期<span class="alt-color">1日~OK!</span></h3>    

    <p>
      空いた時間に<br />
      自分らしく稼ぐ！
     </p>

     <div class="arrow"></div>
  </div>

  <div class="point-container">
    <%= image_tag 'top/wallet.jpg', class: 'img-responsive' %>
    <div class="point">
      POINT <span class="point-number">2</span>
    </div>

    <h3>全額翌日払い<span class="alt-color">OK</span></h3>

    <p>
      財布がピンチ！<br />
      すぐに給料ゲット！
    </p>

    <div class="arrow"></div>
  </div>

  <div class="point-container">
    <%= image_tag 'top/mendou.jpg', class: 'img-responsive' %>
    <div class="point">
      POINT <span class="point-number">3</span>
    </div>

    <h3>登録<span class="alt-color">超簡単！</span></h3>

    めんどくさがっているいる画像
    <p>
      履歴書不要！<br />
      20分で終了！
    </p>

    <div class="arrow"></div>
  </div>


  <div class="point-container">
    <%= image_tag 'top/head.jpg', class: 'img-responsive' %>
    <div class="point">
      POINT <span class="point-number">4</span>
    </div>

    <h3>選べる<span class="alt-color">勤務地</span></h3>

    頭を抱える画像

    <p>自宅の近くで勤務可能！</p>

    <div class="arrow"></div>
  </div>



  <h2>こんなお仕事を紹介しています！</h2>

  <table class="table table-responsive">
    <tr>
      <td><strong>ログスティクス</strong></td>
      <td>物流センター内ピッキング・仕分け・梱包作業、商品在庫管理、荷揚げ、荷卸し等</td>
    </tr>

    <tr>
      <td><strong>イベント</strong></td>
      <td>イベント会場設営・撤去、イベント管理・運営、各種販売促進、プラカード持ち等</td>
    </tr>

    <tr>
      <td><strong>トランスポート</strong></td>
      <td>引越助手、事務所の移転作業、家具などの配送助手、什器の搬入出等</td>
    </tr>

    <tr>
      <td><strong>オフィス</strong></td>
      <td>一般事務、データ入力、ファイリング、テレマーケティング、各種清掃作業、等</td>
    </tr>

    <tr>
      <td><strong>その他</strong></td>
      <td>工場内ライン作業、棚卸し、各種清掃作業など</td>
    </tr>

  </table>
</section>