<p><%= @user.last_name + " " + @user.first_name %>様</p>

<p>ご登録ありがとうございました。</p>
<p>㈱スイフトです。</p>

<p>この度は登録説明会にご参加ありがとうございました。 サービスを利用していただくにおいて必要なスタッフページのログインID・パスワードをお知らせします。</p>

<p>ログインID　<%= @user.email %></p>
<p>パスワード　<%= @user.password %></p>

<p>これにより、スタッフページにログインすることが出来ます。 ※パスワードは初回は生年月日8桁での入力になります。
ログイン後、就業ルールの閲覧および説明会動画の視聴をよろしくお願いします。</p>


<p><strong><u>勤務にあたっては顔写真・身分証・マイナンバーの提出が必要になります。</u></strong><br/>
このメールinfo@swift-staff.jp へそれぞれの写真をメール添付で送信お願いします。</p>

<p>１．本人確認用写真※身分証写真に準拠した、顔がはっきりとわかるものを提出してください。</p>
<p>２．身分証：ご本人確認に必要な氏名・住所・生年月日が記載された証明書を提出してください。<br/>
例）運転免許証・住基カード　等</p>
<p>３．マイナンバーはスタッフページからも申請が可能です。</p>

<p>提出が終わったら確認のお電話をスイフトより入れさせていただきますので宜しくお願い致します。</p>

<p>振込希望の方はスタッフページにログイン後、「振込口座申請」より口座を申請してください。<br/>
車両通勤希望の方は所定の書類を揃えてスタッフページ「車両許可申請」より申請してください。</p>

<p>また勤務にあたって必要な作業確認票もここからPDFでダウンロードできます。<br />
プリントアウト環境がない場合、最寄りのコンビニで印刷できますので弊社までお問い合わせください。</p>

<p>株式会社スイフト<br/>
業務部</p>