<p><%= @user.last_name + " " + @user.first_name %>様</p>

<p>ご登録ありがとうございました。</p>
<p>㈱スイフトです。</p>

<p>この度は登録説明会にご参加ありがとうございました。 サービスを利用していただくにおいて必要なスタッフページのログインID・パスワードをお知らせします。</p>

<p>ログインID　<%= @user.email %></p>
<p>パスワード　<%= @user.password %></p>

<p><strong>スタッフページ</strong></p>
<p><a href="http://www.swift-staff.jp/staff">http://www.swift-staff.jp/staff</a></p>

<p>
  これにより、スタッフページにログインすることが出来ます。 
</p>

<p>★WEB登録の方へご案内</p>
<p>・ログイン後、スタッフページから就業ルールの閲覧、及び説明動画の視聴をお願いします。</p>
<p>・勤務にあたっては顔写真・身分証・マイナンバーの提出が必要になります。</p>
<p>スタッフページのメニューから申請するか、このメールに画像を添付して送信してください。</p>
<p>・提出されるまでは仮登録スタッフとなります。いったんこの状態で仕事情報の配信のみ受けることも可能です。但し本登録されるまで実際の就業はできません。</p>

<p>１．本人確認用写真※顔がはっきりとわかるもの。</p>
<p>２．身分証：ご本人確認に必要な氏名・住所・生年月日が記載された証明書。<br />
例）運転免許証・住基カード　等</p>
<p>３．マイナンバーはスタッフページからも申請が可能です。</p>

<p>ご提出後、確認のお電話をスイフトより入れさせていただくことがあります。</p>

<p>その他ご質問は弊社までご連絡いただくか、<%= link_to 'こちら', faq_url %>をご確認ください。</p>

<p>株式会社スイフト(派)23-301755<br />
住所:名古屋市中区錦３丁目１４−１４夢現錦ビル５B<br />
TEL: 052-265-6702<br />
MAIL: info@swift-staff.jp</p>