<p>この度は登録説明会にご参加ありがとうございました。<br/>
サービスを利用していただくにおいて必要なスタッフページのログインID・パスワードをお知らせします。</p>

<p>【ログインID】<%= @user.email %><br/>
【パスワード】<%= @user.password %><br/>
【スタッフページ】【<a href="http://www.swift-staff.jp/staff" target="_blank">http://www.swift-staff.jp/staff</a>】
</p>

<p>これにより、スタッフページにログインすることが出来ます。 <br/>
登録後すぐに就業されたい場合はログイン後、<br/>
仕事検索：【<a href="http://www.swift-staff.jp/jobs" target="_blank">http://www.swift-staff.jp/jobs</a>】<br/>
のカレンダーの日付ををクリックして申し込んでいただくか、<br/>
直接弊社までご連絡ください。</p>

<p>★WEB登録の方へご案内</p>

<p>
  ・ログイン後、スタッフページから就業ルールの閲覧、及び説明動画の視聴をお願いします。<br/>
  ・勤務にあたっては【①顔写真②身分証③マイナンバー】の提出が必要になります。<br/>
  　スタッフページのメニューから申請するか、このメールに画像を添付して送信してください。<br/>
  ・提出されるまでは仮登録スタッフとなります。いったんこの状態で仕事情報の配信のみ受けることも可能です。<br/>
  　但し本登録されるまで実際の就業はできません。<br/>
</p>

<p>★提出物</p>
<p>
  ①本人確認用写真※顔がはっきりとわかるもの。<br/>
  ②身分証：ご本人確認に必要な氏名・住所・生年月日が記載された証明書。<br/>
  例）運転免許証・住基カード　等<br/>
  ③マイナンバー　※スタッフページからも申請が可能です。<br/>
</p>

<p>ご提出後、確認のお電話をスイフトより入れさせていただくことがあります。</p>

<p>
  その他ご質問は弊社までご連絡いただくか、こちらのＦＡＱをご確認ください。<br/>
  よくある質問：【<a href="http://www.swift-staff.jp/faq" target="_blank">http://www.swift-staff.jp/faq</a>】
</p>

<p>★LINEでのご質問も可能です。</p>

<p>
  LINE ▼友だち追加はこちらから▼<br/>
  【<a href="https://line.me/R/ti/p/%40swiftnagoya" target="_blank">https://line.me/R/ti/p/%40swiftnagoya</a>】
</p>

<p>
  ■□―――――――――――――――――――――――――――<br/>
  株式会社スイフト(派)23-301755<br/>
  住所: 〒460-0003名古屋市中区錦３丁目１４-１４夢現錦ビル５B<br/>
  TEL：<a href="tel:052-265-6702">052-265-6702</a> FAX：052-265-6703<br/>
  Mail：<a href="mailto:info@swift-staff.jp">info@swift-staff.jp</a><br/>
  LINEID：＠swiftnagoya<br/>
  HP ： <a href="http://www.swift-staff.jp" target="_blank">http://www.swift-staff.jp</a><br/>
  ―――――――――――――――――――――――――――――□■
</p>

