<h1>会員用ページ</h1>

<ul>
  <li><%= link_to 'お仕事情報一覧', jobs_path %></li>
  <li><%= link_to 'お仕事予約', new_reservation_path %></li>
  <li><%= link_to '出発到着報告', new_attendence_report_path %></li>
  <li><%= link_to '終了報告', new_completion_report_path %></li>
</ul>