<div class="header-text">
  <h3 class="text-center">会員用ページ</h3>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="staff-box">
      <h4><i class="fa fa-search" aria-hidden="true"></i> <%= link_to 'お仕事情報一覧'.html_safe, jobs_path %></h4>
    </div><!-- staff-box -->
  </div><!-- col-xs-12 col-md-3 -->

  <div class="col-xs-12 col-md-3">
    <div class="staff-box">
      <h4><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= link_to 'お仕事予約', new_reservation_path %></h4>
    </div><!-- staff-box -->
  </div><!-- col-xs-12 col-md-3 -->

  <div class="col-xs-12 col-md-3">
    <div class="staff-box">
      <h4><i class="fa fa-flag" aria-hidden="true"></i> <%= link_to '出発到着報告', new_attendence_report_path %></h4>
    </div><!-- staff-box -->
  </div><!-- col-xs-12 col-md-3 -->

  <div class="col-xs-12 col-md-3">
    <div class="staff-box">
      <h4><i class="fa fa-pencil" aria-hidden="true"></i> <%= link_to '終了報告', new_completion_report_path %></h4>
    </div><!-- staff-box -->
  </div><!-- col-xs-12 col-md-3 -->
</div><!-- row -->
