<div class="col-xs-12">
  <h4>求人一覧</h4>
</div>



<div class="col-xs-12 col-md-9">
  <%= paginate @jobs, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pagination-centered" %>

  <%= render @jobs %>
<<<<<<< HEAD
</div>
=======

  <%= paginate @jobs, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pagination-centered" %>
</div>

<div class="col-xs-12 col-md-3">
  <%= render 'jobs/sidebar' %>
</div>

>>>>>>> 296856425019f3d2a367be08e3b2a36dfe91b67d
