<div class="col-xs-12">
<h4>求人一覧</h4>
</div>



<div class="col-xs-9">
  <%= paginate @jobs, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pagination-centered" %>

  <%= render @jobs %>

  <%= paginate @jobs, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pagination-centered" %>
</div>

<div class="col-xs-3">
  <%= render 'jobs/sidebar' %>
</div>

