<% set_meta_tags title: "#{@job.title}",
                 description: "#{@job.description}"
                  %>

<% breadcrumb :job, @job %>

<div class="row">
  <div class="col-xs-12">
    <h4>求人情報詳細</h4>
  </div>



  <div class="col-xs-12 col-md-3">
    <%= render 'jobs/sidebar' %>
  </div>

  <div class="col-xs-12 col-md-9">
    <%= render partial: 'jobs/details', locals: {job: @job} %>
  </div>
</div>