<div class="col-xs-12">
  <h4>求人情報詳細</h4>

  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>

</div>



<div class="col-xs-3">
  <%= render 'jobs/sidebar' %>
</div>

<div class="col-xs-9">
  <%= render partial: 'jobs/details', locals: {job: @job} %>
</div>

