<% set_meta_tags title: "#{@job.title}",
				 description: "#{@job.description}" %>

<h4>求人情報詳細</h4>

<div class="col-xs-9">
  <%= render partial: 'jobs/details', locals: {job: @job} %>
</div>

<div class="col-xs-3">
  <%= render 'jobs/sidebar' %>
</div>