<% object.valid? %>
<% if object.errors.any? %>
  <div id="error_explanation">
	  <ul class="no-bullet">
	   <% object.errors.full_messages.each do |msg| %>
	    <li>* <%= msg %></li>
	   <% end %>
	 </ul>
	</div>
<% end %>