<footer class="footer-light">
  <div class="container">
      <div class="row">

          <!-- About -->
          <div class="col-sm-3">
              <div class="heading-footer"><h4>会社概要</h4></div>
              <p>
                株式会社スイフトの会社情報となります。 
              </p>
          </div>
          
          <!-- Social -->
          <div class="col-sm-3 mg25-xs">
              <div class="heading-footer"><h4>採用情報</h4></div>
               <p>
                採用情報はこちらから
               </p>
          </div>

          <!-- Contact -->
          <div class="col-sm-3 mg25-xs">
              <div class="heading-footer"><h4>お問い合わせ</h4></div>
              <p>
                <%= link_to 'スタッフ様お問い合わせ', '' %>
                <%= link_to '企業様お問い合わせ', '' %>
              </p>
          </div>

          <!-- Recent Work -->
          <div class="col-sm-3 hidden-xs">
              <div class="heading-footer"><h4>上に戻る</h4></div>              
          </div>
      </div><!-- /row -->

      <!-- Copyright -->
      <div class="row">
          <hr>
          <div class="col-sm-11 col-xs-10">
              <p class="copyright">© <%= Date.today.year %> Swift. All rights reserved.</p>
              <p>プライバシーポリシー</p>
          </div>
          <div class="col-sm-1 col-xs-2 text-right">
              <a href="#" class="scroll-top">上に戻る</a>
          </div>
      </div><!-- /row -->
      
  </div><!-- /container -->
</footer><!-- /footer -->
<!-- End Footer --> 