@import 'components/main';

.btn-job-action {
  position: absolute; 
  right: 10px; 
  bottom: 10px;
}

.merit-box {
  border: 4px solid $orange;
  padding: 20px;

  p {
    font-weight: 600;
  }

  h1 {
    color: $blue;
  }

  h3 {
    color: $blue;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 40px;

    .fa {
      color: $orange;
    }
  }

  .alt-orange {
    color: $orange;
  }
}

.service-line {
  td:first-child {
    color: $orange;
    font-weight: 600;
    font-size: 18px;
  }
  td {
    font-weight: 600;
    padding: 20px !important;
  }
}

.emphasize {
  font-weight: 600;
}

.companies-header {
  h2 {
    color: #00329a;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 80px;
  }
}

.service-line-text {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 40px !important; 
}