@import 'components/main';

$border-color: #dddddd;

@mixin job-border {
  border: 2px solid $border-color;
  padding: 20px;
  margin: 20px 0px;
}

.job_box {
  @include job-border;

  table {
    margin-bottom: 40px;
  }
}

.job_box_title {
  h3 {
    a {
      color: $secondary-blue;
      color: #337ab7;
      font-weight: 600;
      font-size: 18px;
      text-decoration: underline;
    }
  }
}

.job-information {
  position: relative;
  margin-bottom: 60px;
}

.job_box_description {
}

.job_box_tags {
  margin-bottom: 50px;
}

.btn-job-details {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.sidebar {
  @include job-border;

  h3 {
    color: $blue;
    border-bottom: 2px solid $blue;
    font-size: 18px;
  }
}

.sidebar-contents {
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
    a {
      color: #333;
    }
  }
}

.gray-alt {
  font-size: 14px; 
  color: #777777;
}

.job-details-container {
  @include job-border;
  position: relative;
  table {
    margin-bottom: 80px;
  }

  .job-details-title {
    color: $blue;
    margin-bottom: 20px;
    font-weight: 600;
  }
}


.terms {  
  height: 200px; 
  overflow: auto;
  border: 2px solid $border-color;
}