.nav-box {
  padding: 20px; 
  transition: all 0.5s ease;

  img {
    border: 2px solid #eee;
  }
  
  .fa {
    font-size: 50px;
    color: #00329a;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .btn-navbox {
    display: block;
    background: #e59501;
    border-radius: 120px;
    padding: 10px 20px;
    color: white;
    margin: 20px auto;
  }

}