.nav-box {
  background: #337ab7;
  padding: 50px;
  height: 200px;  

  &:hover {
    background-color: rgba(8, 128, 215, 0.9);
    transition: all 0.5s ease;
  }

  .fa {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
  }

  h3 {
    color: white;
    width: 50%;
    top: 30%;
    position: absolute;
    left: 25%;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }
  }
}