@import 'components/main';

.staff {
  h2 {
    background: $blue;
    color: white;
    padding: 20px;
    position: relative;
    margin-bottom: 40px;

    &:after {
      @include arrow-down(20px, $blue);
    }
  }

  img {
    height: 250px;
    width: 380px;
  }
}

.alt-color {
  color: $secondary-blue;
  font-size: 30px;
}

.point-container {
  position: relative;
  margin-bottom: 40px;
  border: 1px solid #eee;

  p {
    font-size: 18px;
    color: #333;

    .fa {
      color: $blue;
    }
  }

  h3 {
    color: $blue;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
  }
}

.staff-box {
  padding: 50px;
  border: 2px solid #ddd;
  text-align: center;
}

.point-container-details {
  height: 80px;
}

.point-container-text {
  padding: 20px 20px 0px;
}

.point-container-image {
  // height: 300px;
}

.member-action-ul {
  padding-left: 0px;
  list-style-type: none;
  li {
    padding: 10px 0px;
    font-size: 16px;
  }
}