<div class="progressbar-container">
	<ul class="progressbar">
    <li class="active"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
	</ul>
</div>

<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">		

		<h1>WEB登録会とは</h1>

		<ul>
			<li><strong>WEBだけで登録完了！</strong></li>
			<p>自宅からいつでも好きな時間に来社不要で派遣スタッフ登録できます。</p>

			<li><strong>最短翌日勤務OK！</strong></li>
			<p>登録完了後、最短で翌日のお仕事も可能です。</p>

			<li><strong>いつでも希望の時間に勤務可能！</strong></li>
			<p>登録後発行されるIDでスイフトのスタッフページにログインし、お仕事検索すれば好きな時に好きな時間で働けます。</p>
		</ul>
	　

		<h1>WEB登録の準備</h1>

		<p class="lead">WEB登録を始める前に以下ご確認ください。</p>

		<ul class="no-bullet">
			<li><strong>必要物</strong>：パソコンあるいはスマートフォン・身分証明書</li>
			<li>※外国籍の方は在留カードによる就労資格確認・日本語会話力の確認が必要なため、来社登録をお願いします。</li>
			<li><strong>所要時間</strong>：30分</li>
		</ul>

		<hr />

		<h1>WEB登録の流れ</h1>

		<ol>
			<li>登録情報の入力</li>
			<li>各種書類への同意確認</li>
			<li>お仕事の希望日を申告　※ここまでで基本登録は完了です。</li>
			<li>スタッフIDの発行(メールが来ます。)<br/>※スタッフ専用ページにログイン可能になります。</li>
			<li>返信で身分証・顔写真をスイフトにメール送信してください。</li>
			<li>※ここまででお仕事応募可能になります。また、確認のためお電話させていただきます。</li>
			<li>ログイン後、当社ルールの理解のため、就業規則・説明ビデオの確認をお願いします。</li>
			<li>口座情報や車両通勤申請等その他申請を行ってください。またマイナンバーもスタッフページからの申請となっております。</li>			
		</ol>

		<p>※ここまででお仕事応募可能になります。また、確認のためお電話させていただきます。</p>

		<hr />

		<%= link_to '次に進む', next_step_path(current_step: 1), method: :post, class: 'btn btn-primary pull-right' %>

	</div>
</div>

