<h3>３各種書類同意</h3>

<p>下記の書類をお読みいただき同意の上でお進みください。</br>
同意されない場合は登録できませんので「辞退します」より終了してください。</p>

<ol>
	<li>就業にあたっての同意書</li>
	<li>個人情報の取り扱いについて</li>
</ol>


<%= link_to '同意します', next_step_path(current_step: 4) %>
<%= link_to '辞退します', "" %>

<%= link_to '戻る', :back %>


													

