<h2>就業にあたっての同意書</h2>

<p>私は、株式会社スイフト（以下貴社という）に入社するにあたり、下記の事項について同意致します。	</p>
	
<h4>遵守事項</h4>
<p>１．私は、貴社の派遣スタッフとして、就業規則、その他諸規則及び労働契約書に基づき就業するものとし、その内容を理解し、遵守いたします。</p>
<p>２．業務の遂行にあたり貴社の従業員としての品位を保ち、貴社及び派遣先の体面を汚すような行為や迷惑を及ぼすような行為を行わないものとします。	</p>
	
<h4>秘密保持</h4>
<p>１．業務上知りえた貴社又は派遣先の秘密情報について、在職中はもちろん、派遣期間終了後もしくは貴社退職後においても、第三者に開示、漏洩	
もしくは使用いたしません。	
<p>２．前項に違反して、貴社もしくは派遣先又は第三者に損害を与えた場合、私が法的な責任を負うものであることを認識し、これにより貴社もしくは勤務先又は第三者が被った一切の損害を賠償することを約束致します。</p>
	
<h4>盗難紛失</h4>
<p>派遣先の取り扱う商品、金銭等の取り扱いには十分に注意するものとし、故意又は重大な過失により紛失・盗難等の事故が発生した場合は、	その一切の損害を賠償するものとします。	</p>
	
<h4>車両事故</h4>
<p>１．業務上及び通勤で使用する車両を運転する場合は、事前に貴社に申告のうえ許可を得るものとし、申告事項に変更があった場合は、速やかにその旨を届け出るものとします。	</p>
<p>２．なお、業務上及び通勤途上にかかわらず、故意または過失により事故等が発生し、自己または第三者に生じた傷害、死傷を含む損害について、貴社に何ら迷惑をかけないものとします。</p>

<%= link_to '戻る', :back, class: 'btn btn-warning btn-round' %>                    

