<h3>個人情報の取り扱いについて</h3>

<p>弊社は、ご登録に際しお預かりした貴殿の個人情報を次のように管理し、保護いたします。</p>

<h4>個人情報の定義</h4>
<p>個人情報とは、個人に関する情報であり、氏名、生年月日、住所、電話番号、FAX番号、電子メールアドレス、
画像などによって個人を識別できる情報のことをいいます。</br>
なお、制服やユニフォーム貸与のため、身体情報（服のサイズ、靴のサイズ）をお聞きすることがあります。
</p>

<ol>
	<li>派遣先紹介時のスキル・業務経験などの確認のため</li>
	<li>適切な派遣先選定のため</li>
	<li>給与支払いなどの業務管理のため</li>
	<li>個人情報を含まない形に加工した上で、乙の事業目的に必要な統計データ算出のため</li>	
</ol>


<h4>第三者への提供</h4>
<p>お預かりした個人情報は、紹介企業への求人企業への応募、適切な採用判定、職業紹介のために提供することがあります。</br>
それ以外では、法令の規定または司法手続きに基づく要請による場合を除き、ご本人の同意なく第三者に提供することはありません。</p>
														
<h4>外部委託</h4>
<p>お預かりした個人情報は、上記利用目的達成のため、乙が適切と認める外部企業に個人情報に関する業務を委託することがあります。</br>
但し、利用目的の範囲を超え、個人情報を使用させることはありません。</p>
														
<h4>利用目的の通知・個人情報の開示・訂正・削除・利用または提供の停止について</h4>
<p>お預かりした個人情報は、本人から請求があった場合、利用目的の通知、個人情報の開示、内容の訂正、追加または削除、消去</br>
および第三者への提供の停止に応じますので、下記【お問い合わせ窓口】に請求ください。</br>
また、個人情報に関するお問合せ、苦情、相談等につきましても、以下【お問合せ窓口】までご一報ください。</p>

<h4>【お問い合わせ窓口】</h4>
<p>株式会社スイフト 個人情報保護管理者 松本慶一</br>
ＴＥＬ：052-000-0000ＦＡＸ：052-000-0000mail：swift@swift-staff.com</p>

<p>個人情報の提供に関する任意性及び当該情報を提供しなかった場合に生じる結果</br>
個人情報の提供は任意ですが、提供いただけない場合や情報に漏れや誤りがある場合は、</br>
派遣先紹介が行われず、場合によっては、労働契約を解除する場合があります。
</p>

<%= link_to '戻る', :back %>										
