.sidebar-jobs-by-day {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	li {
		background: whitesmoke;
		border: 1px solid white;
		cursor: pointer;		
		padding: 10px;
		text-align: center;		
		width: 33%;
	}
}