<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />


<%= display_meta_tags site: '株式会社スイフト',
                      reverse: true,
                      title: '人材派遣・業務請負はスイフトへ',
                      description: '愛知県名古屋市の短期派遣・アルバイトポータル株式会社スイフト。「今」の価値を最大化するため、単なる仕事の橋渡しだけでなく、人材を扱うプロフェッショナルとしてゼロから経験と技術を兼ね備えたエキスパートを教育し提供できる価値を高めることにも取り組んでいます。',
                      keywords: '愛知 名古屋 派遣 アルバイト 短期 株式会社スイフト スイフト'
                      %>

<% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90668193-1', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>

<div id="google_translate_element" style="background: whitesmoke"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'ja', includedLanguages: 'en,es,fr,hi,id,km,ko,my,ne,pt,th,vi,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
