<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= render 'layouts/meta' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <p style="color: green;"><%= message %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
